services:
  octoprint:
    container_name: 'octoprint'
    image: 'octoprint/octoprint:latest'
    ports:
      - 8001:80
    devices:
      - '/dev/ttyUSB0:/dev/ttyUSB0'
    volumes:
      - './data:/octoprint/data'
    network_mode: 'bridge'
    restart: 'unless-stopped'
