.vscode

/**/secret.*
/**/users.txt
/**/secrets.*
/**/password.*
/**/apikey.*
/**/dnsapitoken.*
/**/acme.json

/pve1/warlock/foundry/users
/pve1/warlock/foundry/data
/pve1/paladin/authentik/certs
/pve1/paladin/authentik/custom-templates
/pve1/paladin/authentik/media
/pve1/paladin/postgresql/data
/pve1/paladin/redis/data

# pi hole config we don't want to source control
/**/pi-hole/config/dhcp.leases
/**/pi-hole/config/dns-servers.conf
/**/pi-hole/config/gravity.db
/**/pi-hole/config/gravity_old.db
/**/pi-hole/config/list.1.raw.githubusercontent.com.domains
/**/pi-hole/config/list.1.raw.githubusercontent.com.domains.sha1
/**/pi-hole/config/local.list
/**/pi-hole/config/logrotate
/**/pi-hole/config/pihole-FTL.conf
/**/pi-hole/config/pihole-FTL.db
/**/pi-hole/config/setupVars.conf
/**/pi-hole/config/setupVars.conf.update.bak
/**/pi-hole/config/versions
/**/pi-hole/config/dnsmasq.d/01-pihole.conf
/**/pi-hole/config/dnsmasq.d/02-pihole-dhcp.conf
/**/pi-hole/config/dnsmasq.d/06-rfc6761.conf
/**/pi-hole/config/migration_backup
