services:
  foundry_vtt:
    container_name: 'foundryvtt'
    image: 'felddy/foundryvtt:release'
    ports:
      - '30000:30000/tcp'
    environment:
      FOUNDRY_HOSTNAME: 'foundry.michaelcook.dev'
      FOUNDRY_LOCAL_HOSTNAME: 'foundry.local.michaelcook.dev'
      FOUNDRY_MINIFY_STATIC_FILES: true
      FOUNDRY_TELEMETRY: true
      FOUNDRY_VERSION: '13.351'
      FOUNDRY_PROXY_SSL: true
      FOUNDRY_PROXY_PORT: 443
      CONTAINER_PATCH_URLS: 'https://gist.githubusercontent.com/felddy/a02d66c3817f8223652d96febe580153/raw/foundryvtt-module-check.sh'
    volumes:
      - './data:/data'
    secrets:
      - source: 'config'
        target: 'config.json'
    network_mode: 'bridge'
    restart: 'unless-stopped'

  ddb_importer:
    container_name: 'ddb-importer'
    image: 'ghcr.io/mrprimate/ddb-proxy:latest'
    ports:
      - '30001:3000/tcp'
    network_mode: 'bridge'
    restart: 'unless-stopped'

secrets:
  config:
    file: 'secrets.json'
